streamlit
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-google-genai
sentence-transformers
pypdf
chromadb
typing-extensions>=4.6.0
pysqlite3-binary
